.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

/* NAVBAR */
.navbar-default {
  background-color: green;
  border-color: green;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

a {
  color: white;
}

/* Campground show page */
a.siteLink {
  color: blue;
}
